@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1330px;
    margin: 0 auto;
  }
}

:root {
  --foreground-rgb: #fff;
  --foreground-dark: #000;
  --background-start-rgb: #252525;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #D6EF0E;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 14px;
}

body {
  color: var(--foreground-rgb);
  /* background: linear-gradient(232deg, rgba(2, 0, 36, 1) 27%, rgba(69, 199, 225, 1) 54%, rgba(2, 2, 48, 1) 82%); */
  /* background: #1E1E1E; */
  background-image: linear-gradient(to left bottom, #051937, #061830, #081629, #0a1422, #0b121b, #0b131e, #0a1320, #0a1423, #061830, #011b3e, #001d4b, #001f58);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/*==== HEADER STYLES  ====*/
.header_ul li {
  padding-right: 20px;
}

.header_ul li .active {
  border-bottom: 1px solid var(--color-primary);
}

.header_but {
  padding: 8px 25px;
  background-color: var(--color-primary);
  color: var(--foreground-rgb);
  border-radius: 8px;
}

/*==== HERO STYLES STYLES  ====*/

.hero_sec {
  height: 100vh;
}

.hero_sec_lef {
  padding-top: 5rem;
}

.hero_sec_h1 {
  font-size: 58px;
  line-height: 75px;
  font-family: var(--font-bespoke);
}

.hero_sec_h1 span {
  color: var(--color-primary);
}

.stat {
  margin-top: 2rem;
}

.stat_h1 {
  font-family: var(--font-bespoke);
  color: var(--color-primary);
  font-size: 2.5rem;
}

/* .hero_sec_lef {
  width: 40%;
} */

/*==== HERO RIGHT SECTION STYLES  ====*/

.hero_sec_right {
  padding-top: 5rem;
}

.cus_right_img_sec {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deco_img {
  position: absolute;
  top: 50%;
  left: -70px;
}

.counter_img {
  position: absolute;
  bottom: -20%;
  right: -90px;
}

/*==== BUTTON COMPONENT STYLES  ====*/
.button_com {
  padding: 12px 25px;
  background-color: var(--color-primary);
  color: var(--foreground-dark);
  border-radius: 8px;
  border: none;
  /* width: 35%; */
  width: 170px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

.button_com_sec {
  padding: 12px 25px;
  background-color: var(--foreground-dark);
  color: var(--color-primary);
  border-radius: 8px;
  border: none;
  width: 35%;
  margin-top: 20px;
}

/*==== ABOUT SECTION STYLES  ====*/

.about_sec {
  height: 100vh;
  margin-top: 5rem;
  align-items: start;
}

.about_sec_h1 {
  font-size: 48px;
  line-height: 50px;
  font-family: var(--font-bespoke);
}

.about_sec_h1 span {
  color: var(--color-primary);
}

.abtcard {
  padding: 20px;
  background-color: #131E3A;
  border-radius: 15px;
  border-top: 1px solid var(--color-primary);
}

.abt_card_sec {
  margin-top: 5rem;
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}