@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-start-rgb: #252525;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}
 /*==== HEADER STYLES  ====*/
 .header_logo{
  
 }