@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-ExtraLight.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-Light.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-Regular.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-Medium.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 501;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-MediumItalic.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-SemiBold.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 601;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-SemiBoldItalic.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 701;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-BoldItalic.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-ExtraBold.otf') format("otf");
  }

  @font-face {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    src: url('../assets/fonts/Fira_Sans/Fonts/OTF/FiraSans-Black.otf') format("otf");
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

:root {
  --foreground-rgb: #fff;
  --background-start-rgb: #252525;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #D6EF0E;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}

/*==== HEADER STYLES  ====*/
.header_ul li {
  padding-right: 20px;
}

.header_ul li .active {
  border-bottom: 1px solid var(--color-primary);
}

.header_but {
  padding: 8px 25px;
  background-color: var(--color-primary);
  color: var(--foreground-rgb);
  border-radius: 8px;
}