@media screen and (max-width:2570px) {}

@media screen and (max-width:1450px) {}

@media screen and (max-width:1370px) {
    .hero_sec_lef {
        width: 40%;
        padding: 20px 30px;
        padding-top: 7rem;
    }

    .banner_img {
        height: 500px;
        width: 500px;
        object-fit: contain;
    }
}

@media screen and (max-width:990px) {
    .hero_sec_lef {
        width: 100%;
    }

    /* pt-28 */

    .banner_img {
        height: 450px;
        width: 450px;
        object-fit: contain;
    }

    .hero_sec {
        height: 100%;
    }

}

@media screen and (max-width:770px) {
    .hero_button_sec {
        justify-content: space-between;
        align-items: center;
    }

    #hero {
        display: flex;
        flex-direction: column;
    }

    .counter_img {
        display: none;
    }

    .banner_img {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }

    .hero_sec_right {
        padding-top: 1rem;
    }
}

@media screen and (max-width:490px) {
    .hero_sec_lef {
        width: 100%;
    }

    .hero_sec_h1 {
        font-size: 38px;
        line-height: 50px;
    }

    .stat_h1 {
        font-size: 1.5rem;
    }

    .button_com {
        width: 174px;
        font-size: 12px;
    }

    .button_com_sec {
        width: 174px;
        font-size: 12px;
    }

}

@media screen and (max-width:390px) {
    .hero_sec_lef {
        margin-top: 150px;
    }

    .stat_h1 {
        font-size: 100%;
    }

    .stat_h6 {
        font-size: 14px;
    }

    .hero_sec_right {
        width: 100%;
    }

}

@media screen and (max-width:320px) {
    .stat_ul {
        gap: 2rem;
    }
}